<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<base href="{{ $.Site.BaseURL }}" />
<title>{{ .Site.Title }}</title>
<link rel="stylesheet" href="https://cdn.webix.com/edge/webix.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css"
/>
<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png?v=jwEjQXwyNy">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png?v=jwEjQXwyNy">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png?v=jwEjQXwyNy">
<link rel="manifest" href="/images/favicon/site.webmanifest?v=jwEjQXwyNy">
<link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg?v=jwEjQXwyNy" color="#70adb5">
<link rel="shortcut icon" href="/images/favicon/favicon.ico?v=jwEjQXwyNy">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="msapplication-config" content="/images/favicon/browserconfig.xml?v=jwEjQXwyNy">
<meta name="theme-color" content="#ffffff">

{{ $stylesheet := .Site.Data.webpack.main }}
{{ with $stylesheet.css }}
<link href="{{ relURL . }}" rel="stylesheet" />
{{ end }}
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"
></script>
<script src="https://cdn.webix.com/edge/webix.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>

<script>
  $(window).on('load', function() {
    $('#spinner').fadeOut(300);
  });
</script>
