<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<base href="{{ if getenv "CONTEXT"}}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL")}}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
<title>{{ .Title }} &middot; {{ .Site.Title }}</title>
<link rel="stylesheet" href="https://cdn.webix.com/edge/webix.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css"
/>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"
></script>
<script src="https://cdn.webix.com/edge/webix.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
