{{ define "main" }}
<div class="uk-grid" data-uk-grid-margin>
  <div class="uk-width-medium-1-1">
    <div class="uk-panel uk-panel-box uk-text-center">
      <h1 id="protein_name">{{ .Params.protein_name }}</h1>
      <hr class="" />
    </div>
  </div>
</div>

<div class="uk-grid-small" uk-grid uk-text-left>
  <div class="uk-width-1-2@m">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd>{{ .Params.protein_name }}</dd>
      <dt>Uniprot Accession</dt>
      <dd>
        <a href="https://www.uniprot.org/uniprot/{{ .Params.uniprot_accession }}" target="_blank"
          id="uniprot-ac">{{ .Params.uniprot_accession }}</a>
      </dd>
      <dt>NCBI Gene ID</dt>
      <dd>
        {{ if eq .Params.ncbi_gene_id "-" }} - {{ else }}
        <a href="https://www.ncbi.nlm.nih.gov/gene/?term={{ .Params.ncbi_gene_id }}"
          target="_blank">{{ .Params.ncbi_gene_id }}</a>
        {{ end }}
      </dd>
      <dt>Organism</dt>
      <dd>
        <span>
          <i id="organism">{{ .Params.organism }}</i>
          <span id="species_siluette" class="siluette-small">
          </span>
        </span>

      </dd>
      <dt>Function</dt>
      <dd>{{ .Params.function }}</dd>

      {{ if .Params.orthologs }}
      <input id="ortholog_data" type="hidden" name="ortholog_data" value="{{ .Params.orthologs | safeHTMLAttr }}" />
      <dt>Orthologs</dt>
      <dd>
        <ul id="ulOrtholog"></ul>
      </dd>
      {{ end }}
    </dl>
  </div>
</div>

<div class="uk-grid" data-uk-grid-margin></div>

{{ if .Params.targets }}
<div class="uk-grid">
  <div class="uk-width-2-3@l">
    <h2>Targets of {{ .Params.protein_name }}</h2>
    <div id="target_paging"></div>
    <div id="target_div"></div>
    <input id="target_data" type="hidden" name="target_data" value="{{ .Params.targets | safeHTMLAttr }}" />
  </div>
  <div class="uk-width-1-3@l">
    <div id="target-network-div" style="
        height: 300px;
        width: 300px;
        border-style: solid;
        border-width: 0.1em;
      "></div>
    <div id="targetControlDiv"></div>
  </div>
</div>
{{ end }}

{{ if .Params.tfs }}
<div class="uk-grid" data-uk-grid-margin>
  <div class="uk-width-2-3@l">
    <h2>Transcription factors of {{ .Params.protein_name }}</h2>
    <div id="tf_paging"></div>
    <div id="tf_div"></div>
    <input id="tf_data" type="hidden" name="tf_data" value="{{ .Params.tfs | safeHTMLAttr }}" />
  </div>
  <div class="uk-width-1-3@l">
    <div id="tf-network-div" style="
        height: 300px;
        width: 300px;
        border-style: solid;
        border-width: 0.1em;
      "></div>
    <div id="tfControlDiv"></div>
  </div>
</div>
{{ end }}

{{ if .Params.binding_sites }}
<div class="uk-grid" data-uk-grid-margin>
  <div class="uk-width-5-6@l">
    <h2>Binding sites of {{ .Params.protein_name }}</h2>
    <div id="binding_sites_paging"></div>
    <div id="binding_sites_div"></div>
    <input id="binding_sites_data" type="hidden" name="binding_sites_data"
      value="{{ .Params.binding_sites | safeHTMLAttr }}" />
  </div>
  <div class="uk-width-5-6@l"></div>
</div>
{{ end }}

{{ if .Params.binding_sites }}
<h2>Binding site sequences of {{ .Params.protein_name }}</h2>
<div class="binding-sites">
  {{ .Content }}
  {{ end }}
</div>

{{ $protein := .Site.Data.webpack.protein }}
{{ $network := .Site.Data.webpack.network }}

{{ with $protein.js }}
<script src="{{ relURL . }}"></script>
{{ end }}
{{ with $network.js }}
<script src="{{ relURL . }}"></script>
{{ end }}
{{ end }}