<div class="net-top-navbar" uk-sticky>
    <div class="uk-container uk-container-center">
        <nav class="uk-navbar uk-navbar-container">
            <a class="uk-navbar-item uk-logo" href="{{ .Site.BaseURL }}">TFlink</a>
            <ul class="uk-navbar-nav">
                <li class="">
                    <a href="{{ .Site.BaseURL }}">Home</a>
                </li>
                <li>
                    <a href="{{ .Site.BaseURL }}browse/">Browse</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
