.uk-container .navbar {
  background-color: #70ADB5;
  a {
    color: #0C3446;
  }
  li a {
    color: white;
  }

}

.dl-horizontal {
  dt, dd {
    width: 40%;
    margin: 8px 0;
    display: inline-block;
    vertical-align: middle;
  }

  dt {
    text-align: right;
    padding-right: 10px;
    // background-color: aquamarine;
  }

  dd {
    text-align: left;
    padding-left: 10px;
    // background-color: tomato;
  }
}
