.uk-container .navbar {
  background-color: #70ADB5;
  a {
    color: #0C3446;
  }
  li a {
    color: white;
  }
}

h1 {
  color: #0C3446;
}

.uk-table thead {
  background-color: #70ADB5;
  th {
    color: white;
    text-align: center;
  }
}

hr {
  background-color: #0C3446;
  height: 3px;
}

td {
  text-align: center;
}

.dl-horizontal {
  dt, dd {
    width: 40%;
    margin: 8px 0;
    display: inline-block;
    vertical-align: middle;
  }

  dt {
    text-align: right;
    padding-right: 10px;
  }

  dd {
    text-align: left;
    padding-left: 10px;
  }
}
