html {
  background-color: #f7fbfc;
}

a {
  color: #70adb5;
}

.emp {
  color: #f0506e;
}

.uk-container .navbar {
  background-color: #70adb5;
  li:hover,
  li:focus {
    background-color: #0c3446;
  }
  a {
    color: #0c3446;
  }
  li a {
    color: white;
  }
}

.navbar-active {
  background-color: rgba(12, 52, 70, 0.8);
}

h1 {
  color: #0c3446;
}

.uk-table thead {
  background-color: #70adb5;
  th {
    color: white;
    text-align: center;
  }
}

hr {
  background-color: #0c3446;
  height: 3px;
}

td {
  text-align: center;
}

.faq-table {
  thead {
    background-color: unset;
    td {
      color: black;
      text-align: center;
      font-weight: bold;
      border: solid 1px #e5e5e5;
    }
  }
  tbody {
    td {
      text-align: left;
      border: solid 1px #e5e5e5;
    }
  }
}

.anchor[id^='faq_'] {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

#return-to-top {
  z-index: 1;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(112, 173, 181);
  background: rgba(112, 173, 181, 0.6);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  border-radius: 35px;
  display: none;
  transition: all 0.3s ease;

  span {
    color: #fff;
    margin: 0;
    position: relative;
    left: 5px;
    top: 8px;
    transition: all 0.3s ease;
  }

  &:hover {
    background: rgb(112, 173, 181);
  }
  &:hover span {
    color: #fff;
    top: 0px;
  }
}
.dl-horizontal {
  dt,
  dd {
    width: 40%;
    margin: 8px 0;
    display: inline-block;
    vertical-align: middle;
  }

  dt {
    text-align: right;
    padding-right: 10px;
  }

  dd {
    text-align: left;
    padding-left: 10px;
  }
}

.browse-select option:first-of-type {
  font-style: normal;
}

.browse-select option {
  font-style: italic;
}

.browse_row_hover {
  background: rgba(112, 173, 181, 0.5);
  cursor: pointer;
}
