{{ define "main" }}

<div class="uk-cover-container uk-height-medium">
  <img src="/images/nyitokep_logoval_4.png" alt="" uk-cover />
</div>

<main aria-role="main">
  <div class="">
    <section>
      <div class="uk-grid-small" uk-grid>
        <div class="uk-card uk-card-body uk-width-3-5@m">
          <h1 class="">About</h1>
          <p style="text-align: justify;">
            <i>TFLink</i> database uniquely provides comprehensive and highly
            accurate information on
            <strong>transcription factor - target gene interactions, nucleotide
              sequences and genomic locations of transcription factor binding
              sites </strong>for <span class="emp">human</span> and six model organisms (<span class="emp">mouse</span>,
            <span class="emp">rat</span>, <em>Danio rerio</em>,
            <em>Drosophila melanogaster</em>, <em>Caenorhabditis elegans</em>,
            and <em>Saccharomyces cerevisiae</em>). <i>TFLink</i> contains
            clearly identified data, and provides information about the sources:
            databases, experimental methods and publications. To create
            <i>TFLink</i>, we examined the freely available large transcription
            factor databases, and selected ten resources for integration:
            <a href="https://saezlab.github.io/DoRothEA/" target="_blank">DoRothEA</a>,
            <a href="http://gtrd.biouml.org/" target="_blank">GTRD</a>, 
            HTRIdb,
            <a href="http://jaspar.genereg.net/" target="_blank">JASPAR</a>,
            <a href="http://www.oreganno.org/" target="_blank">ORegAnno</a>,
            <a href="http://redfly.ccr.buffalo.edu/" target="_blank">REDfly</a>,
            <a href="http://tagc.univ-mrs.fr/remap/index.php?page=about" target="_blank">ReMap</a>,
            <a href="http://rulai.cshl.edu/cgi-bin/TRED/tred.cgi?process=home" target="_blank">TRED</a>,
            <a href="https://www.grnpedia.org/trrust/" target="_blank">TRRUST</a>, and
            <a href="http://www.yeastract.com/" target="_blank">Yeastract</a>. From these source databases we
            integrated accurate, small-scale
            experimental data and also compiled less accurate large-scale
            CHIP-seq data without mixing these two types of sources.
          </p>
        </div>
        <!-- <div class="uk-width-1-5@m"></div> -->
        <div class="uk-card uk-card-body uk-width-expand uk-width-1-5@m">
          <h1 class="">Contact us</h1>
          <p>
            Please write us if you have questions or wish to integrate your data
            to TFLink:
          </p>
          <p>
            <a href="mailto:tflink.net@gmail.com" target="_top">tflink.net@gmail.com</a>
          </p>
        </div>
      </div>
    </section>
    <hr />
    <section class="uk-container">
      <div class="uk-grid-small" uk-grid>
        <div class="uk-card uk-card-body">
          <h2 class="">Statistics of small scale data</h2>
          <table class="uk-table uk-table-striped uk-table-justify statistics">
            <thead>
              <tr>
                <th class="uk-table-expand">Organism</th>
                <th class=""></th>
                <th class=""># of TFs</th>
                <th class="uk-table-expand"># of target genes</th>
                <th class="uk-table-expand"># of interactions</th>
                <th class="uk-table-expand"># of binding sites</th>
                <th class="uk-table-expand"># of binding site sequences</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><i>Homo sapiens</i></td>
                <td class="siluette">
                  <img src="/images/siluettes/Homo_sapiens.svg" />
                </td>
                <td>841</td>
                <td>4,805</td>
                <td>17,239</td>
                <td>35,484</td>
                <td>35,718</td>
              </tr>
              <tr>
                <td><i>Mus musculus</i></td>
                <td class="siluette">
                  <img src="/images/siluettes/Mus_musculus.svg" />
                </td>
                <td>947</td>
                <td>2,842</td>
                <td>10,000</td>
                <td>10,560</td>
                <td>10,612</td>
              </tr>
              <tr>
                <td><i>Rattus norvegicus</i></td>
                <td class="siluette">
                  <img src="/images/siluettes/Rattus_norvegicus.svg" />
                </td>
                <td>7</td>
                <td>6</td>
                <td>9</td>
                <td>189</td>
                <td>206</td>
              </tr>
              <tr>
                <td><i>Danio rerio</i></td>
                <td class="siluette">
                  <img src="/images/siluettes/Danio_rerio.svg" />
                </td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td><i>Drosophila melanogaster</i></td>
                <td class="siluette">
                  <img src="/images/siluettes/Drosophila_melanogaster.svg" />
                </td>
                <td>284</td>
                <td>404</td>
                <td>1,409</td>
                <td>4,012</td>
                <td>7,027</td>
              </tr>
              <tr>
                <td><i>Caenorhabditis elegans</i></td>
                <td class="siluette">
                  <img src="/images/siluettes/Caenorhabditis_elegans.svg" />
                </td>
                <td>28</td>
                <td>114</td>
                <td>143</td>
                <td>117</td>
                <td>144</td>
              </tr>
              <tr>
                <td><i>Saccharomyces cerevisiae</i></td>
                <td class="siluette">
                  <img src="/images/siluettes/Saccharomyces_cerevisiae.svg" />
                </td>
                <td>191</td>
                <td>2,166</td>
                <td>5,349</td>
                <td>5</td>
                <td>5</td>
              </tr>
              <tr>
                <td>Total</td>
                <td></td>
                <td>2,298</td>
                <td>10,337</td>
                <td>34,149</td>
                <td>50,367</td>
                <td>53,712</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <p></p>

      <div class="uk-grid-small" uk-grid>
        <div class="uk-card uk-card-body">
          <h2 class="">Statistics of large scale data</h2>
          <table class="uk-table uk-table-striped uk-table uk-table-justify statistics">
            <thead>
              <tr>
                <th class="uk-table-expand">Organism</th>
                <th></th>
                <th class=""># of TFs</th>
                <th class="uk-table-expand"># of target genes</th>
                <th class="uk-table-expand"># of interactions</th>
                <th class="uk-table-expand"># of binding sites</th>
                <th class="uk-table-expand"># of binding site sequences</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><i>Homo sapiens</i></td>
                <td class="siluette">
                  <img src="/images/siluettes/Homo_sapiens.svg" />
                </td>
                <td>1363</td>
                <td>20,562</td>
                <td>6,872,866</td>
                <td>9,006,448</td>
                <td>9,020,594</td>
              </tr>
              <tr>
                <td><i>Mus musculus</i></td>
                <td class="siluette">
                  <img src="/images/siluettes/Mus_musculus.svg" />
                </td>
                <td>744</td>
                <td>27,744</td>
                <td>5,488,111</td>
                <td>8,148,98</td>
                <td>836,659</td>
              </tr>
              <tr>
                <td><i>Rattus norvegicus</i></td>
                <td class="siluette">
                  <img src="/images/siluettes/Rattus_norvegicus.svg" />
                </td>
                <td>60</td>
                <td>17,859</td>
                <td>116,933</td>
                <td>0</td>
                <td>244</td>
              </tr>
              <tr>
                <td><i>Danio rerio</i></td>
                <td class="siluette">
                  <img src="/images/siluettes/Danio_rerio.svg" />
                </td>
                <td>20</td>
                <td>24,428</td>
                <td>53,081</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td><i>Drosophila melanogaster</i></td>
                <td class="siluette">
                  <img src="/images/siluettes/Drosophila_melanogaster.svg" />
                </td>
                <td>609</td>
                <td>29,585</td>
                <td>792,827</td>
                <td>90,873</td>
                <td>91,179</td>
              </tr>
              <tr>
                <td><i>Caenorhabditis elegans</i></td>
                <td class="siluette">
                  <img src="/images/siluettes/Caenorhabditis_elegans.svg" />
                </td>
                <td>317</td>
                <td>20,222</td>
                <td>447,931</td>
                <td>33,449</td>
                <td>33,608</td>
              </tr>
              <tr>
                <td><i>Saccharomyces cerevisiae</i></td>
                <td class="siluette">
                  <img src="/images/siluettes/Saccharomyces_cerevisiae.svg" />
                </td>
                <td>318</td>
                <td>6,549</td>
                <td>232,409</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Total</td>
                <td></td>
                <td>3,431</td>
                <td>146,949</td>
                <td>14,004,158</td>
                <td>9,945,668</td>
                <td>9,982,284</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <hr />
  </div>
</main>
{{ end }} {{ define "footer"}}
<div class="uk-grid-medium uk-flex-center uk-flex-middle uk-child-width-1-6" uk-grid>
  <div class="logo">
    <a href="http://group.szbk.u-szeged.hu/sysbiol/papp-balazs-lab-index.html">
      <img src="/images/brc_logo.png" width="60%" />
    </a>
  </div>
  <div class="logo">
    <a href="https://www.earlham.ac.uk/korcsmaros-group">
      <img src="/images/EI-double-large-trans-highquality.png" />
    </a>
  </div>
  <div class="logo">
    <a href="https://www.hcemm.eu/">
      <img src="/images/H-CEMM_Logo_RGB.jpg" />
    </a>
  </div>
  <div class="logo">
    <a href="https://genetics.elte.hu/index.php/en/">
      <img src="/images/elte_cimer_szines.png" width="70%" />
    </a>
  </div>
</div>
{{ end }}