{{ define "main" }}

<div class="uk-cover-container uk-height-medium">
  <img src="/images/nyitokep_logoval_4.png" alt="" uk-cover />
</div>

<main aria-role="main">
  <div class="">
    <section>
      <div class="uk-grid-small" uk-grid>
        <div class="uk-card uk-card-body uk-width-3-5@m">
          <h1 class="">About</h1>
          <p style="text-align: justify">
            <i>TFLink</i> database uniquely provides comprehensive and highly
            accurate information on
            <strong
              >transcription factor - target gene interactions, nucleotide
              sequences and genomic locations of transcription factor binding
              sites </strong
            >for <span class="emp">human</span> and six model organisms (<span
              class="emp"
              >mouse</span
            >, <span class="emp">rat</span>, <em>Danio rerio</em>,
            <em>Drosophila melanogaster</em>, <em>Caenorhabditis elegans</em>,
            and <em>Saccharomyces cerevisiae</em>). <i>TFLink</i> contains
            clearly identified data, and provides information about the sources:
            databases, experimental methods and publications. To create
            <i>TFLink</i>, we examined the freely available large transcription
            factor databases, and selected nine resources for integration:
            <a href="https://saezlab.github.io/DoRothEA/" target="_blank"
              ><em>DoRothEA</em></a
            >,
            <a href="http://gtrd.biouml.org/" target="_blank"><em>GTRD</em></a
            >, <em>HTRIdb</em>,
            <a href="http://jaspar.genereg.net/" target="_blank"
              ><em>JASPAR</em></a
            >,
            <a href="http://www.oreganno.org/" target="_blank"
              ><em>ORegAnno</em></a
            >,
            <a href="http://redfly.ccr.buffalo.edu/" target="_blank"
              ><em>REDfly</em></a
            >,
            <a
              href="http://tagc.univ-mrs.fr/remap/index.php?page=about"
              target="_blank"
              ><em>ReMap</em></a
            >,
            <a
              href="http://rulai.cshl.edu/cgi-bin/TRED/tred.cgi?process=home"
              target="_blank"
              ><em>TRED</em></a
            >,
            <a href="https://www.grnpedia.org/trrust/" target="_blank"
              ><em>TRRUST</em></a
            >, and
            <a href="http://www.yeastract.com/" target="_blank"
              ><em>Yeastract</em></a
            >. From these source databases we integrated accurate, small-scale
            experimental data and also compiled less accurate large-scale
            CHIP-seq data without mixing these two types of sources.
          </p>
        </div>
        <!-- <div class="uk-width-1-5@m"></div> -->
        <div class="uk-card uk-card-body uk-width-expand uk-width-1-5@m">
          <h1 class="">Contact us</h1>
          <p>
            Please write us if you have questions or wish to integrate your data
            to TFLink:
          </p>
          <p>
            <a href="mailto:tflink.net@gmail.com" target="_top"
              >tflink.net@gmail.com</a
            >
          </p>
        </div>
      </div>
    </section>
    <hr />
    <section class="uk-container uk-container-small">
      <div class="uk-grid-small" uk-grid>
        <div class="uk-card uk-card-body">
          <h2 class="">Statisics of small scale data</h2>
          <table class="uk-table uk-table-striped uk-table-justify statistics">
            <thead>
              <tr>
                <th class="uk-table-expand">Organism</th>
                <th class="uk-table-expand"># of TFs</th>
                <th class="uk-table-expand"># of target genes</th>
                <th class="uk-table-expand"># of interactions</th>
                <th class="uk-table-expand"># of binding sites</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><i>Homo sapiens</i></td>
                <td>821</td>
                <td>4,711</td>
                <td>16,151</td>
                <td>35,484</td>
              </tr>
              <tr>
                <td><i>Mus musculus</i></td>
                <td>912</td>
                <td>2,804</td>
                <td>9,071</td>
                <td>10,560</td>
              </tr>
              <tr>
                <td><i>Rattus norvegicus</i></td>
                <td>6</td>
                <td>6</td>
                <td>8</td>
                <td>189</td>
              </tr>
              <tr>
                <td><i>Danio rerio</i></td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td><i>Drosophila melanogaster</i></td>
                <td>277</td>
                <td>287</td>
                <td>1,140</td>
                <td>2,841</td>
              </tr>
              <tr>
                <td><i>Caenorhabditis elegans</i></td>
                <td>28</td>
                <td>114</td>
                <td>143</td>
                <td>117</td>
              </tr>
              <tr>
                <td><i>Saccharomyces cerevisiae</i></td>
                <td>197</td>
                <td>6,487</td>
                <td>159,625</td>
                <td>5</td>
              </tr>
              <tr>
                <td>Total</td>
                <td>2,241</td>
                <td>14,409</td>
                <td>186,138</td>
                <td>49,196</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <p></p>

      <div class="uk-grid-small" uk-grid>
        <div class="uk-card uk-card-body">
          <h2 class="">Statisics of large scale data</h2>
          <table
            class="uk-table uk-table-striped uk-table uk-table-justify statistics"
          >
            <thead>
              <tr>
                <th class="uk-table-expand">Organism</th>
                <th class="uk-table-expand"># of TFs</th>
                <th class="uk-table-expand"># of target genes</th>
                <th class="uk-table-expand"># of interactions</th>
                <th class="uk-table-expand"># of binding sites</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><i>Homo sapiens</i></td>
                <td>1,017</td>
                <td>20,473</td>
                <td>4,104,636</td>
                <td>6,709,246</td>
              </tr>
              <tr>
                <td><i>Mus musculus</i></td>
                <td>432</td>
                <td>28,043</td>
                <td>2,487,275</td>
                <td>2,876,153</td>
              </tr>
              <tr>
                <td><i>Rattus norvegicus</i></td>
                <td>46</td>
                <td>16,638</td>
                <td>76,985</td>
                <td>77,276</td>
              </tr>
              <tr>
                <td><i>Danio Rerio</i></td>
                <td>16</td>
                <td>20,008</td>
                <td>38,491</td>
                <td>38,704</td>
              </tr>
              <tr>
                <td><i>Drosophila melanogaster</i></td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>16,802</td>
              </tr>
              <tr>
                <td><i>Caenorhabditis elegans</i></td>
                <td>289</td>
                <td>19,706</td>
                <td>415,430</td>
                <td>426,737</td>
              </tr>
              <tr>
                <td><i>Saccharomyces cerevisiae</i></td>
                <td>107</td>
                <td>5,024</td>
                <td>34,813</td>
                <td>39,137</td>
              </tr>
              <tr>
                <td>Total</td>
                <td>1,907</td>
                <td>109,892</td>
                <td>7,157,630</td>
                <td>10,184,055</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <hr />
  </div>
</main>
{{ end }} {{ define "footer"}}
<div
  class="uk-grid-medium uk-flex-center uk-flex-middle uk-child-width-1-6"
  uk-grid
>
  <div class="logo">
    <a href="http://group.szbk.u-szeged.hu/sysbiol/papp-balazs-lab-index.html">
      <img src="/images/brc_logo.png" width="60%" />
    </a>
  </div>
  <div class="logo">
    <a href="https://www.earlham.ac.uk/korcsmaros-group">
      <img src="/images/EI-double-large-trans-highquality.png" />
    </a>
  </div>
  <div class="logo">
    <a href="https://www.hcemm.eu/">
      <img src="/images/H-CEMM_Logo_RGB.jpg" />
    </a>
  </div>
  <div class="logo">
    <a href="https://genetics.elte.hu/index.php/en/">
      <img src="/images/elte_cimer_szines.png" width="70%" />
    </a>
  </div>
</div>
{{ end }}
