{{ define "main" }}

<section class="uk-container uk-container-medium">
  <span class="title">
    <h1>Download</h1>
  </span>
  <hr />
  <div class="uk-grid">
    <div id="species_select_div" class="uk-width-1-2@s"></div>
    <div id="species_siluette" class="uk-width-1-2@s siluette-large">
    </div>

  </div>
  <p></p>
  <div class="uk-grid" data-uk-grid-margin>
    <div id="download_div_ss" class="uk-width-1-3@s"></div>
    <div id="download_div_ls" class="uk-width-1-3@s"></div>
    <div id="download_div_all" class="uk-width-1-3@s"></div>
  </div>

  <p>&nbsp;</p>

  <div>
    <h3>Description</h3>
    <ul>
      <li>
        <strong>Interaction table</strong> files are tab separated tables
        <i>(tsv)</i> of transcription factor - target gene interactions that
        contain interactions validated by small-scale or large-scale experiments or these two data
        altogether.
        All tables contain the following data: <i>Uniprot IDs</i>, <i>NCBI Gene IDs</i>,
        gene names of transcription factors and
        target genes, names of the detection methods,
        <i>Pubmed IDs</i>
        of the original publications, name of the organism, source
        databases, and indication about if the data were confirmed by
        small-scale evidences and the <i>Uniprot IDs</i> of ortholog transcription factors and
        target genes.
      </li>
      <li>
        <strong>Interaction MITAB</strong> files contain transcription factor -
        target gene interactions in <a href="https://psicquic.github.io/MITAB28Format.html"
          target="_blank">HUPO-PSI
          MITAB 2.8</a>
        format.
        The detailed description of the format and a header for <i>MITAB</i>
        tables are available in the
        <a href="/faq/" target="_blank">FAQ</a>.
      </li>
      <li>
        <strong>Interaction GMT</strong> (Gene Matrix Transposed) is a tab
        delimited file format that describes gene sets – target genes of a
        transcription factor – in each row. The first and second column
        contains information about the transcription factors (various IDs and
        gene names). The first cell in each row is always unique. From the
        third to the last column the target genes of the transcription factor
        are listed. The number of target genes can vary from transcription
        factor to transcription factor, therefore the number of cells can be
        different in every row. The user can choose between <i>GMT</i> files
        with <i>Uniprot IDs</i>, <i>NCBI Gene IDs</i>, and <i>gene names</i>.
      </li>
      <li>
        <strong>Binding site table</strong> files are tab separated tables
        (<i>tsv</i>) of binding site annotations that contain unique
        <i>TFLink IDs</i> of binding sites, <i>Uniprot IDs</i> and gene names
        of the transcription factors, the name of the organism, the genome version, chromosome name,
        the start and end
        coordinates of the binding sites, the coding strand, a link to the particular genomic
        location at the
        <i>UCSC</i>
        genome browser website, names of the detection method, <i>Pubmed IDs</i> of the original
        publications, the
        source
        database, indication if it is a small- or a large-scale method, the number and the <i>TFLink
          IDs</i> of
        overlapping
        binding sites of the same transcription factor.
      </li>
      <li>
        <strong>Binding site annotation</strong> file contains the essential information about the
        genomic locations of the binding sites
        in <a href="https://github.com/The-Sequence-Ontology/Specifications/blob/master/gff3.md"
          target="_blank">GFF3</a> format. The <i>source</i> databases are indicated at the
        3<sup>rd</sup> column
        starting with
        “TFLink_from_”. The <i>type</i> of
        the entries (4<sup>th</sup> column) are indicated as “TF_binding_site”. The attributes filed
        (10<sup>th</sup>
        column) contains TFLink
        IDs (ID), names (Name) and <i>Uniprot IDs</i> (Note) of the transcription factors.
      </li>
      <li>
        <strong>Binding site sequence</strong> files are <i>fasta</i> files
        containing the DNA sequences of the transcription factor binding sites.
        The header of each sequence contains the unique internal
        <i>TFLink ID</i> of the binding site, the <i>Uniprot ID</i> and gene
        name of the transcription factor, the version of the genome assembly,
        the name of the chromosome, and the start and end coordinates of the binding
        sites.
      </li>
    </ul>
  </div>
</section>

<script>
  $('#nav_download').addClass('navbar-active');
</script>

{{ $script := .Site.Data.webpack.download }} {{ with $script.js }}
<script src="{{ relURL . }}"></script>
{{ end }} {{ end }}